*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgba(126, 126, 131, );

}
.back{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 200px;
    background-color:rgba(214, 34, 70);
    margin-left: 160px;
    margin-bottom: 70px;
}
.back01{
    position: absolute;
    background-color: rgba(16, 192, 74, );
    width: 100px;
    height: 200px;
    margin-right: 160px;
    margin-top: 70px;
}
.